// Title: .drya.node.rc
// Instalar em: ~/.config/.drya.node.rc
// Existe alias em: config-bash-alias `alias node="[[ -f ~/.config/.drya.node.rc ]] && node -r ~/.config/.drya.node.rc || node"`

const repl = require('repl');
repl.start({ prompt: '> ' });
console.clear
console.log('DRYa: Bem-vindo ao REPL dentro do Node.js');
console.log(' > REPL: Read-Eval-Print-Loop');

function ss(...args) {
   console.log("ss", ...args)
}

global.ola = () => console.log('DRYa. Olá do RC!');


