[user]
	name = seivaDArve
	email = flowreshe.seiva.d.arve@gmail.com
[safe]
	directory = /mnt/c/Repositories/moedaz
	directory = /mnt/c/Repositories/DRYa
	directory = /mnt/c/Repositories/dWiki
	directory = /mnt/c/Repositories/ezGIT
	directory = /mnt/c/Repositories/112-Shiva-Sutras
	directory = /mnt/c/Repositories/scratch-paper
	directory = /mnt/c/Repositories/yogaBashApp
	directory = /mnt/c/Repositories/upK-diario-Dv
	directory = /mnt/c/Repositories/upK
   directory = /mnt/c/Repositories/Dota-2-guide
   directory = /mnt/c/Repositories/CBorg
   directory = /mnt/c/Repositories/omni-log
   directory = /mnt/c/Repositories/mastering-GPS
[core]
	editor = vim
[alias]
   please = push --force-with-lease
[pull]
   rebase = false
